body{
    background-color: #D7E8E7;
    display: flex;
    align-items: center;justify-content: center;
    flex-direction: column;
    width: 100%;
}
.header{
    display: flex;
    background-color: blueviolet;
}