body{
    background-color: #D7E8E7;
    display: flex;
    align-items: center;justify-content: center;
    flex-direction: column;
 
}
.header{
    display: flex;
    background-color: blueviolet;
    height: 20%;
}