.header-app {
  display: flex;
  align-items: center;
  background-color: #6ACAC9;
  color: rgb(0, 0, 0);
  height: 100%;
  padding: 0.2rem;
  
}
.logoheader{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  width: 200px;
  
}
.logoheader img {
  height: 50px;
  width: auto;
  
}

.contenidoheader {
  flex: 1;
  text-align: center;
  border: 2px solid black;
  width: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tituloapp {
  font-size: 1.3rem;
  margin: 0;
}

.ajustesheader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  border: 2px solid black;
  height: 95%;
  width: 200px;
}

.icono-header {
  width: 22px;
  height: 22px;
  cursor: pointer;
  
}
