.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d7e8e7c5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background: white;
    padding: 20px;
    width: 500px;
    height: 600px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border: 5px solid rgba(0, 0, 0, 0.503);
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    ;border-radius: ;
    font-size: 22px;
    cursor: pointer;
    border: 2px solid black;
  }
  
  .modal-title {
    font-size: 24px;
    color: #2C6D3D;
    border: 3px solid #2C6D3D;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  .modal-content {
    padding: 0 20px;
    font-size: 20px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  
  .divlogo {
    
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    width: 250px;
    height: 250px;
    object-fit: contain;
  }
  