/* NO TOCAR NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  */
.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* NO TOCAR NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  */
.main-layout > *:first-child {
  height: 7vh;
  min-height: 40px; 
}

/* NO TOCAR NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  */
.layout-body {
  display: flex;
  height: 93vh;
}

/* NO TOCAR NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  */
.sidebar {
  width: 210px;
  min-width: 180px;
  max-width: 220px;
  background-color: #f2f2f2;
  transition: transform 0.3s ease-in-out;
}
/* NO TOCAR NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  */
.sidebar-hidden {
  transform: translateX(-100%);
}

/* NO TOCAR NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  */
.layout-content {
  flex: 1;
  padding: 0.5rem;
  overflow-y: auto;
}
/* NO TOCAR NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  NO TOCAR  */

/*df*/