.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* No tocar  No tocar  No tocar  No tocar  No tocar  No tocar  No tocar  No tocar  No tocar  No tocar  No tocar  */
.main-layout > *:first-child {
  height: 8vh;
  min-height: 60px; 
}

/* layout-body ocupa el 90% restante */
.layout-body {
  display: flex;
  height: 92vh;
}

/* SIDEBAR con ancho fijo, se puede ocultar con una clase adicional */
.sidebar {
  width: 200px;
  min-width: 200px;
  max-width: 250px;
  background-color: #f2f2f2;
  transition: transform 0.3s ease-in-out;
}

/* Clase para ocultar el sidebar */
.sidebar-hidden {
  transform: translateX(-100%);
}

/* CONTENIDO PRINCIPAL ocupa lo que queda */
.layout-content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}
