.sidebar {
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  border-right: 1px solid #e0e0e0;
  transform: translateX(0); /* visible siempre en PC */
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}


.modalidad {
  padding: 12px 16px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.modalidad .name {
  font-weight: 600;
  color: #333;
  font-size: 16px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 12px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  padding: 10px 16px;
  display: block;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.sidebar a:hover {
  background-color: #aaa3a3;
  color: #000;
}

.sidebar a.active {
  background-color: #e0e0e0;
  font-weight: bold;
}
/*responsive*/
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%); /* oculto en móvil por defecto */
    top: 7vh; /* si tienes un header fijo */
    height: 93vh;
  }

  .sidebar.show {
    transform: translateX(0); /* visible cuando toggled */
  }

  .sidebar.sidebar-hidden {
    transform: translateX(-100%); /* oculto cuando toggled */
  }
}

